<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nueva incidencia</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<h1>Crear incidencia</h1>

<div class="card-form">
    <form th:action="@{/incidences}" th:object="${incidence}" method="post">
        <label for="title">Título</label>
        <input id="title" type="text" th:field="*{title}" required>

        <label for="description">Descripción</label>
        <textarea id="description" th:field="*{description}" required></textarea>

        <div class="acciones">
            <button type="submit">Guardar incidencia</button>
            <a class="btn btn-secundario" th:href="@{/incidences}">Cancelar</a>
        </div>
    </form>
</div>

</body>
</html>